/*
dark mode 처리
media=(prefers-color-scheme: dark)
*/

body {
  background-color: #000;
  color: white;
}

div {
  background-color: #000;
}

.SearchInput {
  background-color: #333333;
  color: white;
  border-color: #111111;
}

.DarkToggle {
  background-color: #333333;
  color: white;
  border-color: #111111;
}

.ImageInfo .content-wrapper {
  background-color: #222222;
  border: 1px solid #111111;
}

.ImageInfo .content-wrapper .close {
  background-color: #000;
  color: white;
}

.SearchResult .loader-wrapper .loader {
  border: 16px solid #222222; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
}

